* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    right: 25px;
    width: 100%;
    padding: 20%, 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 45px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    left: 50px;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover {
    color: rgb(17, 180, 93);
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url(plufow-le.jpg)no-repeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;

}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 3px;
}

.home-content h3 span {
    color: rgb(5, 236, 109);

}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0px 0;
    color: rgb(78, 245, 245);
}

.home-content p {
    font-size: 22px;
    margin-top: 10px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: transparent; */
    border: 2px solid rgb(95, 167, 223);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(10, 188, 219);
    text-decoration: none;
    margin: 30px 15px 30px 0px;

}

.home-sci a:hover {
    background-color: aquamarine;
    color: rgb(25, 203, 156);
    box-shadow: 0 0 30px aquamarine;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background-color: rgba(25, 216, 216, 0.778);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(19, 20, 20);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover {
    box-shadow: 0 0 10px rgb(41, 9, 182);


}

.about-img img {

    display: flex;
    border: 10px solid rgb(216, 246, 199);
    border-radius: 70px;
    box-shadow: 0 0 1500px rgb(93, 169, 27);
    padding-bottom: 20px;
    margin-left: 100px;
    margin-top: 25px;
    max-width: 350px;
    height: auto;
    width: 100%;
    border-radius: 180px;

}

.about {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    
}

.about-text h2 {
    font-size: 60px;
    color: rgb(196, 133, 133);
}

.about-text h2 span {
    color: aqua;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: rgb(233, 194, 143);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: rgb(212, 212, 167);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: rgb(22, 214, 150);
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px #8b6aef,
                1px 1px 40px #8b6aef
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 20px 28px;
     background: #52c3ed;
}














.img-b {

    height: 370px;
    display: flex;
    border: 20px solid rgb(21, 21, 21);
    border-radius: 50px;
    box-shadow: 0 0 1500px rgb(86, 149, 35);
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}